body{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
#root{
    height: 100vh;
    width: 100vw;
    background-color: mintcream;
    display: flex;
    flex-direction: row;
}

.board{
    height: 100%;
    width: 50%;
    border: 3px solid white;
    display: flex;
    flex-direction: column;
}
.display{
    height: 100%;
    width: 50%;
    border: 3px solid white;
    display: flex;
    flex-direction: column;
}

.title{
    height: 10%;
    width: 100%;
    border: 3px solid #7ca78d;

    text-align: center;
    font-size: 30px;
    color:black;
}
.content{
    height: 90%;
    width: 100%;
    border: 3px solid #7ca78d;
}

.ttt{
    height: 75%;
    width: 75%;
    margin: 75px auto;
    border: 3px solid #7ca78d;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
}
.row{
    height: 100%;
    border: 1px solid #7ca78d;
    display: flex;
    flex-direction: row;
}
.row button{
    width: 100%;
    cursor: pointer;
    font-size: 50px;
}
.row button:hover{
    background-color: #c2e9e9;
}

.history{
    height: 75%;
    width: 75%;
    margin: 75px auto;
    border: 3px solid #7ca78d;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

    overflow-y: auto;
}

.history button{
    padding: 25px;
    font-size: 20px;
    cursor: pointer;
}